.fun-fact {
  @include grid(20rem);
  background: $light-bg;
  gap: 3rem 9rem;
  &-box {
    display: flex;
    align-items: center;
    gap: 2rem;
    @include maxWidth(768px) {
      flex-flow: column;
      text-align: center;
    }
    img {
      width: 10rem;
    }
    &-info {
      h3 {
        @include titleText(4rem);
      }
      p {
        @include graphText(1.6rem);
        padding-top: 0.5rem;
      }
    }
  }
}
