.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  &-image {
    flex: 1 1 40rem;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &-content {
    flex: 1 1 40rem;
    h3 {
      @include titleText(4.5rem);
      @include maxWidth(450px) {
        font-size: 3rem;
      }
    }
    p {
      @include graphText(1.5rem);
      padding: 1rem 0;
    }
  }
}
