@mixin maxWidth($q) {
  @media screen and (max-width: $q) {
    @content;
  }
}

@mixin minWidth($q) {
  @media screen and (min-width: $q) {
    @content;
  }
}

@mixin titleText($valTitle) {
  font-size: $valTitle;
  color: $black;
  text-transform: capitalize;
}

@mixin graphText($valGraph) {
  font-size: $valGraph;
  color: $light-color;
  text-transform: capitalize;
}

@mixin grid($valGrid) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($valGrid, 1fr));
  gap: 2rem;
}
